.gold   {
    color:#FFD700;
}
.black  {
    color:#800000;
}
.rap {
    color:#800000;
}
.basketball  {
    color:#FF4500;
    background-color:orange;
}
p  {
    font-family:'turret-road',cursive;
}
.img {
    Width:25px;
}